@charset "UTF-8";

header {
    height: 80px;
}

header > #section-header-centro {
    padding-top: 5px;
}

header > #section-header-centro > nav > #imagem-nav {
    margin-right: 0px;

}

header > #section-header-centro > nav > #imagem-nav > img {
    height: 37px;
    width: 37px;

}

header > #section-header-centro > nav > #links-do-nav > a {
    margin: 0px 5px 0px 0px;
    font-size: .9em;
}

#login-cadastro {
    margin: 30px 5px 0px 0px;
}

header section#login-cadastro > a {
    font-size: .7em;
    margin: 0px 10px 0px 0px;

}

#painel-selecao-stream {
    width: 310px;
    height: 60px;
    top: -35px;
}

#center-selecao-stream {
    top: 1px;
}

#painel-selecao-stream  img{
    padding: 10px 8px 10px 8px;
    width: 40px;
    height: 40px;
}

article#inicio-generos > #iframe-genero {
    margin-top: -60px;
}


/* Tamanho dos iframes das categorias Mobile */
section.genero img {
    width: 127px;
    height: 193px;
}
/* -----------------------------------------*/

footer {
    height: 140px;
}

footer h1 {
    padding: 20px 0px 0px 10px;
}

footer p{
    padding: 5px 0px 0px 10px;
}

#sobre-cinemel {
    margin-left: 4px;
    font-size: 0.5em;
}

#sobre-cinemel p {
    width: 150px;
    text-align: justify;
}

#contatos {
    margin-right: -220px;
    float: right;
    font-size: 0.6em;
}

/* PÃGINA LOGIN */

main #voltar-principal a {
    position: absolute;
    top: 14%;
    left: 12%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
}

main > #voltar-principal > a > p {
    position: absolute;
    top: 130%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 0.7em;
}

main > section#painel-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: white;
    height: 500px;
    width: 260px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.400);
    
}

main > section#painel-login > h1 {

    text-align: center;

    padding: 20px;
    font-family: var(--fonte-titulo);
    font-size: 2em;
}

section#links-login {
    text-align: center;
}

section#links-login > img {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 8px 16px 8px 16px;
}

section#links-login > img:hover {
    background-color: #dbeeff;
}

section#painel-login > form > p {
    font-weight: bolder;
    text-align: left;
    margin: 40px 0px 40px 20px;
}

section#painel-login > form > p > input  {
    margin-top: 10px;
    height: 30px;
}

section#painel-login > form > p > input#botao-login {
    text-align: center;
    margin: auto;
    height: 50px;
    width: 220px;
    color: white;
    border: 0px;
    background-color: var(--cor04);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.300);
}

section#painel-login > form > p > input#botao-login:hover {
    border: 1px solid black;
    background-color: #3f9cee;
}