@charset "UTF-8";

header {
    height: 80px;
}

header > #section-header-centro {
    padding-top: 5px;
}

header > #section-header-centro > nav > #imagem-nav {
    margin-right: 0px;

}

header > #section-header-centro > nav > #imagem-nav > img {
    height: 37px;
    width: 37px;

}

header > #section-header-centro > nav > #links-do-nav > a {
    top: 10px;
    padding: 5px;
    font-size: .9em;
}

#login-cadastro {
    margin: 30px 5px 0px 0px;
}

header section#login-cadastro > a {
    font-size: .7em;
    margin: 0px 10px 0px 0px;

}

#painel-selecao-stream {
    width: 310px;
    height: 60px;
    top: -35px;
}

#center-selecao-stream {
    top: 1px;
}

#painel-selecao-stream  img{
    padding: 10px 8px 10px 8px;
    width: 40px;
    height: 40px;
}

article#inicio-generos > #iframe-genero {
    margin-top: -110px;
}


/* Tamanho dos iframes das categorias Mobile */
section.genero img {
    width: 127px;
    height: 193px;
}
/* -----------------------------------------*/

footer {
    height: 140px;
}

footer h1 {
    padding: 20px 0px 0px 10px;
}

footer p{
    padding: 5px 0px 0px 10px;
}

#sobre-cinemel {
    margin-left: 4px;
    font-size: 0.5em;
}

#sobre-cinemel p {
    width: 150px;
    text-align: justify;
}

#contatos {
    margin-right: -220px;
    float: right;
    font-size: 0.6em;
}