@charset "UTF-8";

:root {
    --cor01: #020873;
    --cor02: #0424D9;
    --cor03: #0439D9;
    --cor04: #2793F2;
    --cor05: #D9A648;

    --fonte-nav: 'Poppins';
    --fonte-titulo: 'Montserrat';
}


* {
    overflow-y: hidden;
}

div {
    white-space: nowrap;
    
}

div::-webkit-scrollbar {
    
    width: 1px;
}

div::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #020873;
    height: 1px;
}

div::-webkit-scrollbar-thumb {
    background-color: #000ace;
}