@charset "UTF-8";

* {
    overflow-y: hidden;
}

div {
    white-space: nowrap;

    
}

div::-webkit-scrollbar {
    
    width: 1px;
}

div::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #020873;
}

div::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #000ace;
}