@charset "UTF-8";

:root {

  --branco: #FFFFFF;
  --cor1: #D4AF37;
  --cor2: #E6A4B4;
  --cor3: #C8A2C8;
  --cor4: #822659;
  --cor5: #E3C29D;
  --cor6: #3E3E3E;
  --preto: #000000;

  --font-titulo1: "Marcellus", serif;
  --font-titulo2: "Playfair Display", serif;
  --font-paraf1: "Poppins", sans-serif; 
  --font-paraf2: "Montserrat", sans-serif;;

}

/*---------------PAINEL SLIDE INICIAL---------------*/

#imagens-central swiper-container {
  padding-top: 100px;
  width: 100%;
  height: 700px;
}

#imagens-central swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#imagens-central swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#imagens-central .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

#imagens-central .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/*---------------DESKTOP---------------*/

@media (max-width: 1500px) {
  #imagens-central swiper-container {
    padding-top: 100px;
    width: 100%;
    height: 600px;
  }
}

@media (max-width: 1100px) {
  #imagens-central swiper-container {
    padding-top: 100px;
    width: 100%;
    height: 600px;
  }
}

/*---------------TABLETS---------------*/

@media (max-width: 770px) {
  #imagens-central swiper-container {
    width: 100%;
    height: 350px;
  }
}

/*---------------CELULAR---------------*/

@media (max-width: 600px) {
  #imagens-central swiper-container {
    width: 100%;
    height: 250px;
  }
}