@charset "UTF-8";

header {
    height: 80px;
}

header > #section-header-centro {
    padding-top: 5px;
}

header > #section-header-centro > nav > #imagem-nav {
    margin-right: 0px;

}

header > #section-header-centro > nav > #imagem-nav > img {
    height: 37px;
    width: 37px;

}

header > #section-header-centro > nav > #links-do-nav > a {
    margin: 0px 5px 0px 0px;
    font-size: .9em;
}

#login-cadastro {
    margin: 30px 5px 0px 0px;
}

header section#login-cadastro > a {
    font-size: .7em;
    margin: 0px 10px 0px 0px;

}

#painel-selecao-stream {
    width: 310px;
    height: 60px;
    top: -35px;
}

#center-selecao-stream {
    top: 1px;
}

#painel-selecao-stream  img{
    padding: 10px 8px 10px 8px;
    width: 40px;
    height: 40px;
}

#seccao-boasvindas {
    text-align: center;
    
}

#seccao-boasvindas > h1 {
    font-size: 1.7em;
    font-family: var(--fonte-titulo);
    margin: 0px 10px 5px 10px;
}

#seccao-boasvindas > p {
    font-size: 1em;
    margin: 0px 20px 100px 20px;
}
 
article#inicio-generos > #iframe-genero {
    margin-top: -60px;
}


/* Tamanho dos iframes das categorias Mobile */
section.genero img {
    width: 127px;
    height: 193px;
}
/* -----------------------------------------*/

footer {
    height: 140px;
}

footer > #sobre-cinemel {
    font-size: 0.6em;
    width: 190px;
}

#contatos {
    font-size: 0.7em;
}


/* PÃGINA LOGIN */

#painel-login-fundo,  #painel-cadastro-fundo{
    height: 2235px;
    width: 100%;
    backdrop-filter: blur(13px);

}

#painel-login-fundo > #painel-login {
    display: flex;
    height: 350px;
    width: 300px;
    margin-top: 80px;
}

#painel-cadastro-fundo > #painel-cadastro {
    display: flex;
    height: 450px;
    width: 300px;
    margin-top: 12px;
}

#painel-login > #painel-login-imagem, #painel-cadastro > #painel-cadastro-imagem {
    display: none;

}

#painel-login > #painel-login-logar, #painel-cadastro > #painel-cadastro-cadastrar {
    border-radius: 10px;
}

#painel-login > #painel-login-logar > h1, #painel-cadastro > #painel-cadastro-cadastrar > h1 {
    margin: 20px 0px 5px 35px;
}

#painel-login > #painel-login-logar > #links-login > img, #painel-cadastro-cadastrar  > form > #links-cadastro > img{
    padding: 8px 20px 8px 20px;
    margin: 5px;
}

#painel-login > #painel-login-logar > form > p, #painel-cadastro-cadastrar > form > p {
    margin: 15px auto 15px auto;
    width: 240px;
}

#painel-login > #painel-login-logar > form > p > input, #painel-cadastro-cadastrar > form > p > input  {
    height: 40px;
}

/*------------------------- PAGINA DE CATEGORIAS -------------------------*/

main > #categorias-titulo {
    font-size: 3em;
}

/*------------------------- PAGINA DE ESPORTES -------------------------*/

#main-sports > h1 {
    font-size: 2em;
    margin: 30px 50px 10px 20px;
}

#main-sports > p {
    font-size: 1.3em;
    width: 350px;
    margin-left: 20px;
}


#back-step1, #next-step1 {
    display: block;
    background-size: cover;
    height: 150px;
    width: 30px;
}

#back-step, #back-step2, #back-step3, #back-step4, #back-step5, #next-step, #next-step2, #next-step3, #next-step4, #next-step5 {
    display: none;
    background-size: cover;
    height: 150px;
    width: 30px;
}

#selecao-esportes .card {
    width: 90px;
    height: 150px;
    border-radius: 5px;
    margin: 40px 7px 50px 7px;
}

#selecao-esportes .imagem-esporte{
    height: 70px;
    width: 70px;
    margin: 20px auto 15px auto;
    
}

#selecao-esportes img {
    border-radius: 100%;
    height: 70px;
    width: 70px;
}

#selecao-esportes h1{
    text-align: center;
    font-size: 1em;
    padding: 0px 5px 10px 5px;
}



#seccao-cards1 {
    display: flex;
}
#seccao-cards2 {
    display: none;
}
#seccao-cards3 {
    display: none;
}
#seccao-cards4 {
    display: none;
}
#seccao-cards5 {
    display: none;
}

