@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {

    --branco: #FFFFFF;
    --cor1: #D4AF37;
    --cor2: #E6A4B4;
    --cor3: #C8A2C8;
    --cor4: #822659;
    --cor5: #E3C29D;
    --cor6: #3E3E3E;
    --preto: #000000;

    --font-titulo1: "Marcellus", serif;
    --font-titulo2: "Playfair Display", serif;
    --font-paraf1: "Poppins", sans-serif; 
    --font-paraf2: "Montserrat", sans-serif;;

}

@media (max-width: 850px) {

    /*--------------- HEADER ---------------*/
    header#header-celular {
        display: none;
    }


    header > a > img {
        width: 80px;
    }
    
    nav > a {
        padding: 10px;
        font-size: 1.2em;
        letter-spacing: 1px;
    }

    header > section#login > a {
        padding: 8px 10px 8px 10px;
        font-size: 1.2em;
    }

    main > section#sobre-nos {
        flex-flow: column;
        justify-content: none;
        margin-left: 0px;
    }

    section#sobre-nos > #sobre-nos-inf > h1 {

        font-size: 3.3em;
        width: 600px;
        font-family: var(--font-titulo1);
        color: var(--cor4);
        background-color: #d6bdd6;;
    }
    
    
    section#sobre-nos > #sobre-nos-inf > p {
        width: 600px;
    }

    
    section#sobre-nos > #sobre-nos-inf > p#paraf-nossa-missao {
       width: 600px;

    }

    section#sobre-nos > #sobre-nos-mapa {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    
    section#sobre-nos > #sobre-nos-mapa iframe {
        width: 700px;
        height: 370px;
        border: 1px solid #822659;
        padding: 5px;
    }

    section#sobre-nos > #sobre-nos-mapa p {
        font-size: 1em;
        padding: 10px;
    }

    /*---------------LOJINHA---------------*/

    section#loja > #texto-loja > h1 {
        font-size: 1.9em;
    }

    section#loja > #texto-loja > h2 {
        font-size: 1em;
    }

    section#loja > #texto-loja > p {
        font-size: 1em;
        width: 400px;
    }

    section#loja > #imagem-loja > img {
        width: 290px;
    }

    /*----------------------------------
    |            FOOTER                |
    ----------------------------------*/

    footer div#logo-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer div#logo-footer img {
        width: 90%;
    }

    footer div h1 {
        font-size: 1.3em;
    }

    footer div h1 i {
        padding-right: 3px;
    }

    footer div ul {
        font-size: 1.1em;
    }

    /*-------- fim da seção footer --------*/
    


}

@media (max-width: 750px) {

    /*--------------- HEADER ---------------*/
    header#header-celular {
        display: none;
    }

    section#sobre-nos > #sobre-nos-inf > h1 {
        width: 500px;
        font-size: 2em;
        font-family: var(--font-titulo1);
        color: var(--cor4);
        background-color: #d6bdd6;;
    }
    
    
    section#sobre-nos > #sobre-nos-inf > p {
        width: 500px;
    }

    
    section#sobre-nos > #sobre-nos-inf > p#paraf-nossa-missao {
       width: 500px;

    }
    
    section#sobre-nos > #sobre-nos-mapa iframe {
        width: 500px;
        height: 370px;
    }

    section#sobre-nos > #sobre-nos-mapa p {
        font-size: 1em;
        padding: 10px;
    }

    /*----------------------------------
    |            CTA LOJA              |
    ----------------------------------*/

    main > section#loja {
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 0px 40px 0px; 
    }

    section#loja > #imagem-loja > img {
        display: none;
    }

    section#loja > #texto-loja > a {
        font-size: 1.3em;
    }

    /*-------- fim da seção CTA loja --------*/

    /*----------------------------------
    |            EQUIPE                |
    ----------------------------------*/

    #equipe > h1 {
        font-size: 2.5em;
    }

    #equipe > h2 {
        font-size: 1.3em;
    }

    /*-------- fim da seção equipe --------*/
}