@charset "UTF-8";

.swiper-wrapper {
width: 100%;
height: max-content !important;
padding-bottom: 64px !important;
-webkit-transition-timing-function: linear !important;
transition-timing-function: linear !important;
position: relative;
}

.swiper-pagination-bullet {
background: #ffffff;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; /* tamanho da seta */
  color: #ffffff00;     /* cor da seta */
}
