@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {

    --branco: #FFFFFF;
    --cor1: #D4AF37;
    --cor2: #E6A4B4;
    --cor3: #a576a5;
    --cor4: #822659;
    --cor5: #E3C29D;
    --cor6: #3E3E3E;
    --preto: #000000;

    --font-titulo1: "Marcellus", serif;
    --font-titulo2: "Playfair Display", serif;
    --font-paraf1: "Poppins", sans-serif; 
    --font-paraf2: "Montserrat", sans-serif;;

}



* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e7dae7;  

}

/*==================================
=            HEADER                =
==================================*/

header#header-celular {
    display: none;
}

header {
    position: fixed;
    z-index: 9999;
    background-color: #a576a5;
    height: 100px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.144);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header > a > img {
    width: 90px;
    filter: brightness(100);
}

nav > a {
    color: var(--branco);
    text-decoration: none;
    padding: 30px;
    font-size: 1.4em;
    font-family: var(--font-titulo1);
    letter-spacing: 2px;
}

nav > a:hover {
    font-size: 1.6em;
    transition: 0.4s;
    color: var(--cor3);
}

header > section#login > a {
    color: var(--branco);
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    font-size: 1.4em;
    font-family: var(--font-titulo1);
    border: 1px solid var(--branco);
}

header > section#login > a:hover {
    background-color: #c7a6c7;
    border: 1px solid rgb(194, 194, 194);
    transition: .2s;
}

/*-------- fim da seção header --------*/

/*----------------------------------
|            AGENDAR               |
----------------------------------*/

main > section#agendar {
    display: flex;
    justify-content: center; 
    margin: 100px;    

}

section#agendar > a {
    background-color: var(--cor3);
    padding: 20px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.17);
    font-family: var(--font-paraf2);
    font-weight: 600;
    text-decoration: none;
    color: var(--branco);
}

section#agendar > a:hover {
    background-color: #822659;
}

/*-------- fim da seção agendar --------*/


/*----------------------------------
|           Sobre nós              |
----------------------------------*/
main > section#sobre-nos {
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 70px 30px 70px 30px;
    align-items: center;
    background-color: #d6bdd6;
}


section#sobre-nos > #sobre-nos-inf > h1 {
    font-size: 3em;
    width: 700px;
    font-family: var(--font-titulo1);
    color: var(--cor4);
    background-color: #d6bdd6;;
}

section#sobre-nos > #sobre-nos-inf > h2 {
    margin: 5px 0px 0px 0px;
    font-size: 2em;
    font-family: var(--font-titulo1);
    color: var(--cor4);
    background-color: #d6bdd6;;
}


section#sobre-nos > #sobre-nos-inf > p {
    margin-top: 10px;
    width: 650px;
    font-size: 1.4em;
    font-family: var(--font-titulo1);
    color: var(--cor4);
    background-color: #d6bdd6;
}

section#sobre-nos > #sobre-nos-inf > p#paraf-nossa-missao {
    margin-top: 5px;
    width: 650px;
    font-size: 1.3em;
    font-family: var(--font-titulo1);
    color: var(--cor4);
    background-color: #d6bdd6;
}

section#sobre-nos > #sobre-nos-inf > ul {
    margin: 20px 0px 20px 0px; 
    width: 600px;
}

section#sobre-nos > #sobre-nos-inf > ul > li {
    color: var(--cor6);
    margin-top: 10px; 
    font-size: 1.4em;
    
    list-style-type: none;

}

section#sobre-nos > #sobre-nos-mapa > h1 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 10px;
    font-family: var(--font-titulo1);
    color: var(--cor4);
    background-color: #d6bdd6;;
}

section#sobre-nos > #sobre-nos-mapa iframe {
    width: 550px;
    height: 300px;
    border: 1px solid #822659;
    padding: 5px;
}

section#sobre-nos > #sobre-nos-mapa p {
    color: var(--cor6);
    font-size: 1em;
    font-family: var(--font-paraf1);
    text-align: center;
    padding: 10px;
}

section#sobre-nos > #sobre-nos-mapa > p > i {
    color: var(--cor6);
    font-size: 1em;
    
    padding: 10px;
}

/*-------- fim da seção sobre nós --------*/

/*----------------------------------
|        Nossos servicos           |
----------------------------------*/

main > section#nossos-servicos {
    height: 100%;
}

main > section#nossos-servicos > h1 {
    margin: 50px;
    text-align: center;
    font-size: 4em;
    font-family: var(--font-titulo1);
}

section#nossos-servicos > #servicos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 30px;
    max-width: 1500px;
    margin: 0 auto 100px auto;
    justify-items: center;
}

section#nossos-servicos > #servicos > article {
    border: 1px solid black;
    height: 100%;
    width: 250px;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 3px;
    padding: 10px 10px 0px 10px;
}

section#nossos-servicos > #servicos > article > h1 {
    font-family: var(--font-paraf2);
    font-size: 1.3em;
    min-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

section#nossos-servicos > #servicos > article > div {
    margin: 5px 15px 10px 15px;
    width: 240px;
    background-color: rgb(77, 77, 77);
}

section#nossos-servicos > #servicos > article > img {
    margin: 5px 15px 10px 15px;
    width: 210px;
    height: 230px;
    background-color: rgb(77, 77, 77);
    border-radius: 3px;
}

section#nossos-servicos > #servicos > article > p {
    font-size: 1.2em;
    font-family: var(--font-paraf2);
    
}

section#nossos-servicos > #servicos > article > p > spam {
    font-size: 0.6em;
    text-decoration: line-through;
    color: rgb(29, 29, 29);

}

section#nossos-servicos > #servicos > article > a {
    background-color: var(--cor3);
    border-radius: 2px;
    color: white;
    font-family: var(--font-paraf2);
    text-decoration: none;
    padding: 10px 45px 10px 45px;
    margin: 10px;

}

section#nossos-servicos > #servicos > article > a:hover {
    background-color: var(--cor4);
    transition: .2s;
}

/*-------- fim da seção nossos serviços --------*/

/*----------------------------------
|            CTA LOJA              |
----------------------------------*/

main > section#loja {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 70px 20px 70px 20px;
    background-color: #d6bdd6;   
}

section#loja > #texto-loja > h1 {
    font-family: var(--font-titulo1);
    font-size: 4em;
    color: var(--cor4);
}

section#loja > #texto-loja > h2 {
    font-family: var(--font-titulo1);
    font-size: 2em;
    color: var(--cor4);
}

section#loja > #texto-loja > p {
    font-family: var(--font-paraf1);
    font-size: 1.5em;
    padding: 30px 0px 50px 0px;
    width: 700px;
}

section#loja > #texto-loja > a {
    font-family: var(--font-paraf1);
    font-size: 1.5em;
    text-decoration: none;
    background-color: var(--cor4);
    color: var(--branco);
    padding: 20px;
    border-radius: 10px;
}

section#loja > #texto-loja > a:hover {
    background-color: #b14b81;
    transition: .2s;
}

section#loja > #imagem-loja > img {
    font-family: var(--font-paraf1);
    width: 700px;
    border-radius: 50px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    mix-blend-mode: multiply;
}

/*-------- fim da seção CTA loja --------*/

/*----------------------------------
|            EQUIPE                |
----------------------------------*/
main > #equipe {
    padding: 50px 0px 0px 0px;
    height: 100%;
    width: 100%;
}

#equipe > h1 {
    text-align: center;
    font-size: 4em;
    font-family: var(--font-titulo1);
    color: var(--cor4);
}

#equipe > h2 {
    text-align: center;
    font-size: 1.5em;
    font-family: var(--font-titulo1);
    color: var(--cor4);
}

#equipe > #funcionarios {
    display: grid;
    justify-items: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin: 50px 0px 50px 0px;
}

#equipe > #funcionarios > div.funcionario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 310px;
    height: 100%;
    border-radius: 10px;
    border: 1px solid var(--cor6);
    padding: 5px 20px 5px 20px;
}


#equipe > #funcionarios > div.funcionario > .img-funcionario > img {
    width: 330px;
    border-radius: 10px;
}

#equipe > #funcionarios > div.funcionario > .info-funcionario > h1 {
    font-size: 1.2em;
    font-family: var(--font-paraf1);
    padding: 5px 0px 5px 0px;
    color: var(--cor6);
}

#equipe > #funcionarios > div.funcionario > .info-funcionario > h2 {
    font-size: .9em;
    padding: 5px 0px 5px 0px;
    font-family: var(--font-paraf1);
    color: var(--cor6);
}

#equipe > #funcionarios > div.funcionario > .info-funcionario > p {
    font-size: 1em;
    padding: 5px 0px 5px 0px;
    font-family: var(--font-paraf1);
    color: var(--cor6);
}

#equipe > #funcionarios > div.funcionario > .info-funcionario > a > i {
    font-size: 2em;
    padding: 5px 5px 0px 5px;
    color: var(--cor6);
}


/*-------- fim da seção equipe --------*/

/*----------------------------------
|            FOOTER                |
----------------------------------*/

footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    justify-items: center; 
    justify-content: center;
    align-items: center;
    background-color: #a576a5;
    height: 300px;
}

footer div {
    height: 100%;
    width: 100%;
}

footer div#logo-footer {
    display: flex;
    justify-content: center;
}

footer div#logo-footer img {
    height: 300px;
    filter: brightness(100);
}

footer div h1 {
    color: rgb(218, 218, 218);
    margin-top: 50px;
    font-family: var(--font-paraf1);
    font-size: 1.5em;
}

footer div h1 i {
    padding-right: 10px;
}

footer div ul {
    font-family: var(--font-paraf1);
    font-size: 1.3em;
    list-style-type: none;
    
}

footer div  ul  li a {
    color: rgb(218, 218, 218);
    text-decoration: underline;
}

footer div  ul  li a:hover {
    color: var(--cor4);
    transform: .4s;
}

/*-------- fim da seção footer --------*/



