@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor_1: #E63946;
    --cor_2: #FF8C42;
    --cor_3: #57A773;
    --cor_4: #F5F5F5;
    --cor_5: #2f3642;
    --cor_6: #2d343f;
    --cor_7: #222831;
    

    --font_1: Arial, Helvetica, sans-serif;;
    --font_titulos: "Montserrat", serif;
    --font_paragrafo: "Roboto", serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--cor_7);
    height: 2000px;
}

header {
    position: fixed;
    background-color: var(--cor_6);
    height: 100vh;
    width: 300px;
    box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.321);
}

header > img {
    display: block;
    height: 150px;
    width: 140px;
    margin: auto;
    padding: 20px 0px 0px 0px;
    
}

header > nav {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
}

#option_navegation {
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

#option_navegation:hover {
    transition: .3s;
    transform: scale(1.2);
}

header > nav > #option_navegation > i.barra_lateral_menu {
    font-size: 2.1em;
    background-color: var(--cor_2);
    width: 1.5px;
    height: 40px;
    margin: 10px 10px 10px 20px;
    
}

header > nav > #option_navegation > span.material-symbols-outlined {
    font-size: 2.1em;
    color: var(--cor_2);
}

header > nav > #option_navegation > a {
    margin: 5px;
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    letter-spacing: 2px;
    font-family: var(--font_titulos);
}

main {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin-left: 300px;
}

main > section#section_apresentacao {
    background-color: var(--cor_6);
    height: 200px;
    width: 1150px;
    margin: 0px 20px 0px 20px;
    
}

main > section#section_apresentacao > h1 {
    color: var(--cor_4);
    padding: 30px 0px 0px 30px;
    font-family: var(--font_titulos);
    font-size: 2.5em;
}

main > section#section_apresentacao > p {
    color: var(--cor_4);
    padding: 20px 0px 30px 30px;
    width: 800px;
    font-family: var(--font_paragrafo);
    font-size: 1.1em;
}

main > #resumo_perfil {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section#section_vantagensVF {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: var(--cor_6);
    color: var(--cor_4);
    font-size: 1.2em;
    margin: 30px;
    width: 500px;
    height: 250px;

}

section#section_vantagensVF > ul {
    
    font-family: var(--font_paragrafo);

    padding: 10px;
    list-style-type: none;

}

section#section_vantagensVF > ul > li {
    margin: 0px 10px 15px 10px;

}

section#section_vantagensVF > ul > li::before {
    content: '🎯 ';

}

section#section_vantagensVF > a#buttonCTA {
    display: block;
    padding: 15px 145px 15px 145px;
    font-weight: 700;
    font-family: var(--font_titulos);
    background-color: var(--cor_2);
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 1.2em;
}

section#section_vantagensVF > a#buttonCTA:hover {
    background-color: #eb5c03;
    transition: .2s;
}

#resumo_perfil > #section_pomodorosDay {
    display: flex;
    align-items: center;
    flex-flow: column;
    background-color: var(--cor_6);
    color: var(--cor_4);
    font-size: 1.2em;
    margin: 30px;
    width: 500px;
    height: 250px;
}

#section_pomodorosDay > #section_data_estatisticas {
    display: flex;
    align-items: center;
}

#section_pomodorosDay > #section_data_estatisticas > h1 {
    margin: 30px 0px 10px 0px;
    font-family: var(--font_titulos);

}

#section_data_estatisticas > p#dataDeHoje {
    font-family: var(--font_titulos);
    font-weight: 400;
    margin: 28px 0px 10px 0px;
}

#section_pomodorosDay > #section_estatisticas {
    display: flex;
    flex-flow: row;
}

#section_estatisticas > .resumo_estatisticas {
    margin: 20px;
}

#section_estatisticas > .resumo_estatisticas > h2 {
    font-family: var(--font_paragrafo);
}

#section_estatisticas > .resumo_estatisticas > h3 {
    
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: var(--cor_2);
    font-family: var(--font_paragrafo);
    border-radius: 20px;

}