@media (max-width: 1500px) {
    /*---------------SOBRE NÓS---------------*/
    main > section#sobre-nos {
        padding: 60px 50px 80px 60px;
    }
    
    section#sobre-nos > #sobre-nos-inf > h1 {
        font-size: 3em;
    }
    
    section#sobre-nos > #sobre-nos-inf > p {
        width: 600px;
        font-size: 1.4em;
    }

    section#sobre-nos > #sobre-nos-inf > p#paraf-nossa-missao {
        width: 500px;
    }

    section#sobre-nos > #sobre-nos-mapa iframe {
        width: 500px;
        height: 317px;
    }

    /*---------------LOJINHA---------------*/

    section#loja > #texto-loja > h1 {
        font-size: 2.4em;
    }
    
    section#loja > #texto-loja > h2 {
        font-size: 1.5em;
        width: 460px;
    }
    
    section#loja > #texto-loja > p {
        font-size: 1.5em;
        padding: 20px 0px 40px 0px;
        width: 500px;
    }

    section#loja > #imagem-loja > img {
        width: 600px;
    }
    
}




@media (max-width: 1100px) {
    /*---------------SOBRE NÓS---------------*/

    main > section#sobre-nos {
        justify-items: left;
    }

    section#sobre-nos > #sobre-nos-inf {
        width: 500px;
    }
    
    section#sobre-nos > #sobre-nos-inf > h1 {
        font-size: 2.6em;
    }
    
    section#sobre-nos > #sobre-nos-inf > p {
        width: 500px;
        font-size: 1.2em;
    }

    section#sobre-nos > #sobre-nos-inf ul {
        width: 500px;
        font-size: 1em;
    }

    section#sobre-nos > #sobre-nos-inf > p#paraf-nossa-missao {
        width: 500px;
    }

    section#sobre-nos > #sobre-nos-mapa iframe {
        width: 450px;
        height: 370px;
    }

    /*---------------LOJINHA---------------*/

    section#loja > #texto-loja > h1 {
        font-size: 2.3em;
    }
    
    section#loja > #texto-loja > h2 {
        font-size: 1.4em;
        width: 450px;
    }
    
    section#loja > #texto-loja > p {
        font-size: 1.3em;
        padding: 20px 0px 40px 0px;
        width: 500px;
    }

    section#loja > #imagem-loja > img {
        width: 480px;
    }

    /*---------------DEPOIMENTOS---------------*/

    #depoimentos {
        width: 1000px;
    }

}